/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 20px;
}

/* Navbar styling */
nav ul {
    list-style: none;
    background-color: #833131;
    padding: 10px;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}
nav ul li a:hover{
    background-color: rgb(88, 94, 92);
}

/* Content styling */
main {
    margin-top: 20px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2.5rem;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 15px;
}

p {
    margin-bottom: 15px;
    line-height: 1.6;
}

/* Image styling */
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 15px;
}

/* Example of using flexbox */
.flex-container {
    display: flex;
    justify-content: space-around;
}

.flex-container img {
    width: 30%;
}

/* Example of using grid */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    gap: 20px;
}
